/* Animation */

.anicontainer {
      position: relative;
      opacity: 1;
      display: inline-block;
}

.title1 {
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;

  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 8s;
  animation-delay: 0.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  -webkit-animation-name: titleAnimation;
  -webkit-animation-timing-function: ease;
/*  -webkit-animation-duration: 8s;*/
  -webkit-animation-delay: -2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: titleAnimation;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.0s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;

  -ms-animation-name: titleAnimation;
  -ms-animation-timing-function: ease;
  -ms-animation-duration: 8s;
  -ms-animation-delay: 0.0s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;

  -o-animation-name: titleAnimation;
  -o-animation-timing-function: ease;
  -o-animation-duration: 8s;
  -o-animation-delay: 0.0s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;

}

.title2 {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-name: titleAnimation;
  -webkit-animation-timing-function: ease;
/*  -webkit-animation-duration: 8s;*/
  -webkit-animation-delay: -4s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: titleAnimation;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 2s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: titleAnimation;
  -ms-animation-timing-function: ease;
  -ms-animation-duration: 8s;
  -ms-animation-delay: 2s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: titleAnimation;
  -o-animation-timing-function: ease;
  -o-animation-duration: 8s;
  -o-animation-delay: 2s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;
}

.title3 {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 8s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-name: titleAnimation;
  -webkit-animation-timing-function: ease;
/*  -webkit-animation-duration: 8s;*/
  -webkit-animation-delay: -6s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: titleAnimation;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 4s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: titleAnimation;
  -ms-animation-timing-function: ease;
  -ms-animation-duration: 8s;
  -ms-animation-delay: 4s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: titleAnimation;
  -o-animation-timing-function: ease;
  -o-animation-duration: 8s;
  -o-animation-delay: 4s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;
}

.title4 {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  opacity: 0;

  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 8s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  -webkit-animation-name: titleAnimation;
  -webkit-animation-timing-function: ease;
/*  -webkit-animation-duration: 8s;*/
  -webkit-animation-delay: -8s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: titleAnimation;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 6s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;

  -ms-animation-name: titleAnimation;
  -ms-animation-timing-function: ease;
  -ms-animation-duration: 8s;
  -ms-animation-delay: 6s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;

  -o-animation-name: titleAnimation;
  -o-animation-timing-function: ease;
  -o-animation-duration: 8s;
  -o-animation-delay: 6s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes titleAnimation {
  1% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }
  5% {
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }
}

@keyframes titleAnimation {
  1% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  5% {
    transform: rotateX(0);
    opacity: 1;
  }
  20% {
    transform: rotateX(0);
    opacity: 1;
  }
  25% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}


/*Typography*/

.toplinks {
  margin: 0 0 11vh 0;
}

.hidden-sm {
    display: inherit;
  }

p {
  margin-top: 0;
}

.row-credits {
  margin-bottom: 11vh;
}

.project-credits {
  margin-top: 60px;
}

.intro {
  background-color: white;
  position: relative;
  z-index: 2;
}

.intro .email{
  background: white;
  padding-bottom: 11vh;
  /*display:none;*/
}

.intro-header {
  margin: 90px 0 8vw 0;
}

.project-intro-header {
  margin: 90px 0 45px;
}

.info {
  font-family: 'Simplon Mono', courier, monospace;
}

.info a {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1px;
}

.info a:hover {
  border-bottom: 1px solid #222;
  padding-bottom: 1px;
}

.info-title {
  line-height: 3.6rem;
  font-weight: 500;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #222;
}



/*Images*/

.thumbnail-image {
  /*margin-bottom: 12vw;
  margin-top: 170px;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 100%;
}

.page-image {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thumbnail-image-flat {
  margin-bottom: 60px;
  margin-top: 35%;
  box-shadow: 0 0px 0px rgba(0,0,0,0.0), 0 0px 0px rgba(0,0,0,0.0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thumbnail-container:hover img {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  filter: drop-shadow(0px 14px 12px rgba(0,0,0,0.29)) !important;
}

.thumbnail-video {
  /*margin-bottom: 12vw;
  margin-top: 170px;*/
  /*box-shadow: 1px 1px 5px #111;*/
  /* width: 700px; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 100%;
}


video.thumbnail-video:hover {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  filter: drop-shadow(0px 14px 12px rgba(0,0,0,0.29));
}

.thumbnail-gif {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.page-gif {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.body-video {
  margin-bottom: 60px;
  margin-top: 60px;
}

.thumbnail-container {
  display: inline-block;
  position: relative;
  margin-bottom: 13vw;
}

a.thumbnail-title  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 1;
  color: #000;
  text-decoration: none;
}

h2.thumbnail-title  {
  opacity: 1;
}

p.thumbnail-title {
  opacity: 1;
}

a.thumbnail-title:hover  {
  opacity: 1;
  background-position: 95% 85%;
}

p.thumbnail-title:hover  {
  opacity: 1;
}

/*Navigation*/

.nav {
  background-color: #fff;
  font-family: 'Simplon Mono', "Roboto Mono", courier, monospace;
  padding: 30px 0;
  position: fixed;
  top:0;
  width: 100%;
  outline: 4px solid white;
  outline-offset:-1px;
  z-index: 1;
  opacity:0.97;
}

/*General*/

.footer-text {
  padding: 30px 0;
}

.large-margin-bottom {
  margin-bottom: 60px;
}

.clerky-product {
  border: 1px solid #ebebeb;
  padding: 120px;
  margin: 60px 0;
}

.clerky-product a {
  word-wrap: break-word;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1px;
}

@media all and (min-width: 1000px) {
  .intro .email{
    display:none;
  }

}

@media all and (max-width: 999px) {

  .toplinks {
    margin: 0 0 11vh 0;
  }

  .hidden-sm {
    display: none;
  }

  .intro-header {
    margin: 0 0 5vw 0;
  }

  .intro {
    margin-top: 20px;
  }

  .info {
    margin-bottom: 0;
    line-height: 2.6rem;
    /*display:none;*/
  }

}

@media all and (max-width: 767px) and (min-width: 351px) {



  .intro {
    background-color: white;
    position: relative;
    z-index: 2;
    margin: 20px 0 0 0;
  }

  /*.intro-header {
    margin: 30px 0;
  }*/

  .clerky-product {
    word-wrap: break-word;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin: 60px 0;
    font-size:2.6rem;
  }

  .clerky-product h2 {
    font-size:2.6rem;
  }

  .clerky-product a {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1px;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  img {
    margin-left:-20;
    max-width:calc(100%+40px);
  }

  a.thumbnail-title  {
  opacity: 1;
  }

  .thumbnail-container p {
  display: none;
  }

  .row-credits {
    display: none;
  }

}

@media all and (max-width: 540px) {

  h2 {
    font-size: 9vw;
  }

  h5 {
    font-size: 5rem;
  }

  /*h5.toplinks {
    font-size: 9vw;
  }*/

  .toplinks {
    margin: 0 0 13vw 0;
  }

  .intro .email {
    padding: 0 0 20vw 0;
  }

  .row-credits {
    display: none;
  }

}

@media all and (max-width: 350px) {

  a.thumbnail-title  {
  opacity: 1;
  }

  .thumbnail-container p {
  /*opacity: 0;*/
  display: none;
  }


  .clerky-product {
    word-wrap: break-word;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin: 60px 0;
    font-size:2.6rem;
  }

  .clerky-product h2 {
    font-size:2.6rem;
  }

  .clerky-product a {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1px;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .nav .anicontainer {
    font-size: 0.95em;
  }

  /*.intro-header{
    margin: 30px 0px;
  }*/

  .intro .row {
    width: 110%;
    background-color: white;
  }

  .intro .row-credits {
    width: 110%;
    background-color: white;
  }

  h1 {
    font-size: 4.7rem;
  }

  video {
    margin-left:-20;
    max-width:calc(100%+40px);
  }


}
